[submodule "src/.vim/bundle/vim-go"]
	path = src/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "src/.vim/bundle/tagbar"]
	path = src/.vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
